.tagcloudlink  {font-family: Arial, Helvetica, sans-serif
           color: orange;
           text-decoration:none;
           cursor: default;}
#tagcloud {width: 460 px;}
#tagcloud2 {width: 460 px;}

#map_canvas {

	width: inherit;
	height: 300px;
        box-align: center;
}

#nav {
  background: #003366;
  margin: auto;

}

body {
    background-image: url("../amanda/grid18.png");
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: auto;
    padding-left: auto;
    background-color: #ccccff;
}

