{% extends "base.html" %}

{% block body %}
    <div class="span6">
    <h2>About Us</h2>
    <p><b>Evernote Analytics</b> is the product of the Tufts Spring 2012 Hackathon.</p>
    </p>Its creators are four seniors at Tufts University, all majoring in Computer Science:
       Baturay Akaslan, Amanda Hay, Andrew McGlathery, and Matthew Russell. </p>
    </div>
    <div class="span6">
    <h2>Contact Us</h2>
    <p>Email us at our google mail address with the name evernoteanalytics.</p>
    </div>
{% endblock body %}
