{% extends "base.html" %}
{{ credentials }}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/iThing.css"/>
{% endblock head %}

{% block bodyOptions %}
{% endblock bodyOptions %}
{% block body %}

<div class="row" id="datebar">
  <div class="span3">
    <h2 id="title"> Geotags of posts </h2>
  </div>
  <div class="span6">
     <br/>
     <div id="slider"></div>
     <br/>
  </div>
</div>

<div class="row">
 <div class="span12">
    <div class="load" id="map_canvas"></div>
    <div id="loc"></div>
  </div>

{% endblock body %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.2.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery.mousewheel.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jQAllRangeSliders-min.js">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<script type="text/javascript"
src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js">
</script>
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/callbacks.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.tagcloud-2.js">
</script>
<script type="text/javascript">
var queryUrl = "{% url geo_loc_json %}";
var iconUrl = "{{STATIC_URL}}amanda/evernote.jpg";
var minVal = {{ firstNote }};
var maxVal = (new Date()).getTime();
var slider = $("#slider");
var curCenter = null;
var curZoom = null;
slider.dateRangeSlider({
     bounds: {min: {{ firstNote }}, max: (new Date()).getTime()},
     //Probably should limit this by default
     defaultValues: {min: minVal, max: maxVal},
     valueLabels: "change"
});
function eventfun(value, name){
   var values = slider.dateRangeSlider("values");
   minVal = values.min.getTime();
   maxVal = values.max.getTime();
   
//   var center = geoMap.getCenter();
 //  var zoom = geoMap.getZoom();
   console.log(curCenter);
   console.log(curZoom);
   createMap(queryUrl, iconUrl, "map_canvas", minVal, maxVal,
                      zoomListener, centerListener, 
                      curCenter, curZoom);
//[42.408, -71.120], 12);
};
slider.bind("valuesChanged", eventfun);
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(function(){
   createMap(queryUrl, iconUrl, "map_canvas", minVal, maxVal, 
             zoomListener, centerListener, [42.408, -71.120], 12);
   }
);
function centerListener(newCenter){
  curCenter = [newCenter['$a'],newCenter['ab']];
  console.log(curCenter);
};
function zoomListener(newZoom){
   curZoom = newZoom;
   console.log(curZoom);
};
</script>
{% endblock extrascript %}
