{% extends "base.html" %}
{{ credentials }}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/iThing.css"/>
{% endblock head %}

{% block bodyOptions %}
{% endblock bodyOptions %}
{% block body %}

<div class="row" id="datebar">
  <div class="span3">
    <h2 id="title"> Geotags of posts </h2>
  </div>
  <div class="span6">
     <br/>
     <div id="slider"></div>
     <br/>
  </div>
  <div class="span2">
    <button class="btn" id="refresh" onClick="dateButtonClicked()">Refresh with Dates</button>
  </div>
</div>

<div class="row">
 <div class="span12">
    <div class="load" id="map_canvas"></div>
    <div id="loc"></div>
  </div>

{% endblock body %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.2.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery.mousewheel.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jQAllRangeSliders-min.js">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<script type="text/javascript"
src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js">
</script>
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/callbacks.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.tagcloud-2.js">
</script>
<script type="text/javascript">
var queryUrl = "{% url geo_loc_json %}";
var iconUrl = "{{STATIC_URL}}amanda/evernote.jpg";
var minVal = {{ firstNote }};
var maxVal = (new Date()).getTime();
var slider = $("#slider");
slider.dateRangeSlider({
     bounds: {min: {{ firstNote }}, max: (new Date()).getTime()},
     //Probably should limit this by default
     defaultValues: {min: minVal, max: maxVal},
     valueLabels: "change"
});
function eventfun(value, name){
   //maybe just have a button that pulls the values to recompute data
   var values = slider.dateRangeSlider("values");
   console.log(values.min.getTime());
   console.log(values.max.getTime());
};
slider.bind("valuesChanged", eventfun);
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(function(){
   createMap(queryUrl, iconUrl, "map_canvas", minVal, maxVal);
   }
);
function dateButtonClicked(){
   var values = slider.dateRangeSlider("values");
   minVal = values.min.getTime();
   maxVal = values.max.getTime();
   createMap(queryUrl, iconUrl, "map_canvas", minVal, maxVal);
};
</script>
{% endblock extrascript %}
