{% extends "base.html" %}
{{ credentials }}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/iThing.css"/>
{% endblock head %}

{% block bodyOptions %}
{% endblock bodyOptions %}
{% block body %}

<div class="row" id="datebar">
  <div class="span6 offset3">
     <br/>
     <div id="slider"></div>
     <br/>
  </div>
</div>

<div class="row">
  <div class="span1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" style="height: 500px">
        <li><a href="#days" data-toggle="tab" onClick="dayButtonClicked()">Days</a></li>
        <li><a href="#months" data-toggle="tab" onClick="monthButtonClicked()">Months</a></li>
      </ul>
    </div>
  </div>
  <div class="span11" style="background: #ffffff">
    <div class="load" id="chart"></div>
  </div>
</div>

{% endblock body %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.2.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery.mousewheel.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jQAllRangeSliders-min.js">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<script type="text/javascript"
src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/callbacks.js">
</script>
<script type="text/javascript">
//This starts updating the word cloud
$.getJSON("{% url word_count_update %}",{},function(json) {});

var queryUrl = "{% url day_count_json %}";
var minBound = {{ firstNote }};
var maxBound = (new Date()).getTime();
var slider = $("#slider");
slider.dateRangeSlider({
     bounds: {min: minBound, max: maxBound},
     //Probably should limit this by default
     defaultValues: {min: minBound, max: maxBound},
     valueLabels: "change"
});
function eventfun(value, name){
   //maybe just have a button that pulls the values to recompute data
   var values = slider.dateRangeSlider("values");
   minBound = values.min.getTime();
   maxBound = values.max.getTime();
   createBarGraph(queryUrl,"chart", minBound, maxBound);
};
slider.bind("valuesChanged", eventfun);

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(function(){
   createBarGraph(queryUrl,"chart", minBound, maxBound);
   }
);
function dayButtonClicked(){
   queryUrl = "{% url day_count_json %}";
   createBarGraph(queryUrl,
                  "chart", minBound, maxBound);
};

function monthButtonClicked(){
   queryUrl = "{% url month_count_json %}";
   createBarGraph(queryUrl,
                  "chart", minBound, maxBound);
};

</script>
{% endblock extrascript %}
