{% extends "base.html" %}
{{ credentials }}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/iThing.css"/>
{% endblock head %}

{% block bodyOptions %}
{% endblock bodyOptions %}
{% block body %}
<div class="row">
  <div class="span3">
    <h2 id="title">Most Common Words</h2>
  </div>
  <div class="span6">
     <br/>
     <div id="slider"></div>
     <br/>
  </div>
  <div class="span12" id="datebar">
  </div>
</div>

<div class="row">
  <div class="span1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" style="height: 500px">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href=#>
             Notebooks
          </a>
          <ul class="dropdown-menu">
          {% for guid, notebook in notebooks %}
            <li><a href="#" data-toggle="tab" onClick="notebookClicked('{{ guid }}')" >{{ notebook }}</a></li>
          {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href=#>
             Tags
          </a>
          <ul class="dropdown-menu">
          {% for guid, tag in tags %}
            <li><a href="#" data-toggle="tab" onClick="tagClicked('{{ guid }}')" >{{ tag }}</a></li>
          {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="span10">
    <div class="load" id="tagcloud" style="background: white; padding: 15px 0px"></div>
  </div>
</div>

{% endblock body %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.2.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jquery.mousewheel.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}/slider/jQAllRangeSliders-min.js">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<script type="text/javascript"
src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.tagcloud-2.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/callbacks.js">
</script>
<script type="text/javascript">
if("{{ user.get_profile.word_cloud_done }}" == "False"){
   $('#tagcloud').css({"background-image":"none", "text-align": "center"});
   $('#tagcloud').html("<p style='padding-top: 20%'>Your word cloud is not finished yet, check back soon! <br/> If you are a new user or haven't logged in in a while, this may take some time</p>");
}else {
$('#tagcloud').addClass('load');
var queryUrl = "{% url word_count_json %}";
var minVal = {{ firstNote }};
var maxVal = (new Date()).getTime();
var slider = $("#slider");
slider.dateRangeSlider({
     bounds: {min: {{ firstNote }}, max: (new Date()).getTime()},
     //Probably should limit this by default
     defaultValues: {min: minVal, max: maxVal},
     valueLabels: "change"
});
function eventfun(value, name){
   //maybe just have a button that pulls the values to recompute data
   var values = slider.dateRangeSlider("values");
   minVal = values.min.getTime();
   maxVal = values.max.getTime();
   createWordCloud(queryUrl, 'tagcloud', minVal, maxVal);
};
slider.bind("valuesChanged", eventfun);

function tagClicked(tagGuid){
createWordCloud(queryUrl, 'tagcloud', minVal, maxVal, tagGuid, "tag");
};
function notebookClicked(notebookGuid){
createWordCloud(queryUrl, 'tagcloud', minVal, maxVal, notebookGuid, "notebook");
};

createWordCloud(queryUrl, 'tagcloud', minVal, maxVal);
};
</script>
{% endblock extrascript %}
